/* Write your CSS Here. */



form {
  background-color: skyblue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#textarea {
  min-width: 150px;
  margin-top: 10px;
  background-color: floralwhite;

}

label {
  height: 18px;
  font-size: large;
  display: flex;
  justify-content: center;

}

.button {
  margin: 0 auto;
  width: 200px;
  background-color: skyblue;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 3px rgb(209, 212, 16);
  padding: 6px;
}

.para {
  background-color: skyblue;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  margin-bottom: 10px; 
 }

.resetButton {
  background-color: skyblue;
  font-size: 1.5rem;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 3px rgb(209, 212, 16);
  padding: 6px;
}